.dashwrap {
  width: 100%;
  box-sizing: border-box; /* This makes padding included in width */
}

.dashSec {
  display: flex;
  gap: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dashCollmn {
  background-color: #fff;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  width: 32%;
}
.fieldBox {
  background: #f1f1f1;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
}

.fieldLabel {
  display: block;
  width: 100%;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.field {
  width: 100%;
  background-color: #fff;
  border: none !important;
  border-radius: 5px;
}

.portfolio-categories_,
.devshark-style-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5%;
  justify-content: space-between;
}

.category-checkbox,
.devshark-style-wrap {
  background: #fff;
  padding: 8px;
  border-radius: 5px;
  width: 46%;
  display: block;
  margin-bottom: 10px;
}
